
.foods{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left:120px;
}

.food-display{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:1400px;
    gap:25px;
}

.food-display-list{
   display: flex;
   flex-wrap: wrap;
   overflow: hidden;
   column-gap:25px;
   row-gap:45px;
   margin-right:245px;
}
.dishes{
font-weight: bold;
margin-left:130px;
}
@media (min-width:1200px) and (max-width: 1400px) {
    .food-display {
      width:1100px;
    }
    .food-display-list {
      gap: 20px;
    }
  }
  

@media (min-width:999px) and (max-width: 1200px) {
    .food-display {
      width:1100px;
    }
  
    .food-display-list {
      gap: 20px;
    }
  }
  
  @media (min-width:768px) and  (max-width: 998px)  {
    
    .foods{
        margin-left:120px;
    }
    .food-display {
     width:800px;
    }
  
    .food-display-list {
      gap: 30px;
      column-gap:60px;
    }
  }
  
  @media (min-width:360px) and (max-width: 766px) {
    .foods{
        margin-left:120px;
    }
  
    .food-display {
        width:500px;
       }

    .food-display-list {
      gap: 30px;
      column-gap:40px;
    }
  
    .food-display h2 {
      font-size: 1.5rem;
    }
  }